* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.6;
  font-size: 1.8rem;
  color: white;
}

.nav {
  text-align: center;
}

.nav h4 {
  font-size: 2rem;
  width: 20%;
  display: inline-block;
}

.header {
  /* background-image: url('bg_comp.jpg'); */
  background-image: url('mountains.svg'), linear-gradient(160deg, rgba(0, 0, 0, 0.5) 0.1%, rgba(0, 0, 0, 0.93) 10%, rgba(0, 0, 0, 0.97) 97%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
}

.header h1 {
  font-size: 3.5rem;
}

.header hr {
  width: 20%;
  margin: auto;
  border: 3px solid white;
}

.header span {
  font-size: 5.5rem;
  letter-spacing: 5px;
}

.header--title {
  align-self: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

p {
  letter-spacing: 1.5px;
}

li {
  list-style: none;
}

.presentation {
  background-color: #14213d;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
  padding: 8rem 0rem;
  color: white;
  
}

.presentation .container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.presentation img {
  width: 60%;
  float: right;
  border-radius: 50%;
}

.presentation .description {
  margin-right: 2rem;
  float: left;
  width: 49%;
  align-self: center;
}

.skills {
  clear: both;
  background-color: #f1faee;
  color: black;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  padding-top: 5rem;
}

.skills li {
  text-align: left;
}

.skills .skill--box {
  display: flex;
  justify-content: space-evenly;
  clear: both;
  margin-top: 5rem;
}

.skills .skill--box .skill--box--svg--alt {
  float: right;
}

.skills .skill--box .skill--box--content--alt {
  float: left;
  width: 50%;
  align-self: center;
}

.skills .skill--box .skill--box--svg {
  float: left;
}

.skills .skill--box .skill--box--content {
  float: right;
  width: 50%;
  align-self: center;
}


footer {
  background-color: black;
  text-align: center;
  padding: 3rem;

}

.contact{
  background-color: #457b9d;
  color: white;
  padding: .9rem 1.2rem;
  margin-top: 1rem;
  
}